@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
  font-family: "Open Sans";
}
#wrapper {
  background: #383838;
  max-width: 1600px;
  width: 90vw;
  margin: auto;
  min-height: 90vh;
}
.red-text {
  color: red;
}
.green-text {
  color: green;
}
.danger{
  color:red;
  background-color: rgb(255, 205, 205);
}
.success{
  color:green;
  background-color: rgb(205, 255, 205);
}

#myGridContainer {
    width: fit-content;
    display: flex;
    gap: 35px;
  }
  #myGridColumn {
    padding: 15px;
  }
  #myGridRow {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
  }
  .grid-cell-1 {
    width: max-content;
  }
  .grid-cell-2 {
    text-align: right;
  }
  .grid-cell-2:after {
    content: "%";
  }