@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:wght@700&display=swap');

html {
  font-family: "Open Sans";
}

html,
body {
  font-size: 16px;
  height: 100%
}

#app {
  height: 100%
}

:root {
  --main-blue: #3fb4dd;
  --secondary-grey: #1986af;
}

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  background-color: #cde9f5;
}


a {
  text-decoration: none;
  width: fit-content;
  font-family: 'Overpass', sans-serif;

}

.wrapper {
  max-width: 1600px;
  width: 90vw;
  margin: auto;
  margin-block: 1rem;
  min-height: calc(100% - 160px);
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.danger {
  color: red;
  background-color: rgb(255, 205, 205);
}

.success {
  color: green;
  background-color: rgb(205, 255, 205);
}

#myGridContainer {
  width: fit-content;
  display: flex;
  gap: 35px;
}

#myGridColumn {
  padding: 15px;
}

#myGridRow {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.grid-cell-1 {
  width: max-content;
}

.grid-cell-2 {
  text-align: right;
}

.grid-cell-2:after {
  content: "%";
}

.btn {
  border-radius: 7px;
  padding: 6px 12px;
  appearance: auto;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.9;
}

.btn_primary {
  color: white;
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.btn_secondary {
  color: white;
  background-color: var(--secondary-grey);
  border-color: var(--secondary-grey);
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  font-weight: bold;
}

#header {
  padding: 10px;
  background-color: var(--main-blue);
  color: white;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 40px 0 hsl(0deg 0% 6% / 5%);

}



#footer {
  padding: 10px;
  background-color: var(--main-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Roboto Condensed', sans-serif;
  position: sticky;
  bottom: 0;
  box-shadow: 0 2px 40px 0 hsl(0deg 0% 6% / 5%);
  height: 21px;
}
@media(max-width:600px) {
  #header {
    padding-block: 3px;

  }
  body{
    height:100vh;
  }
  #footer{
    position: relative;
    width:95vw;
  }
}
#logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:1000px) {

  /* ratio: 10x3 */
  #logo_text {
    width: 200px;
    height: 60px;
  }
}

.form_control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_group {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form-check-input {
  width: 1em;
  height: 1em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.job_name {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}